/* Write your CSS here */
.google-image {
  width: 30%;
}
.search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: 20px;
}
.search-bar {
  margin-left: 40px;
  width: 150px;
  height: 30px;
  padding: 10px;
  border-style: none;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.sub-container {
  background-color: #ffffff;
  background-size: cover;
  width: 40vw;
  box-shadow: 0px 4px 16px 0px;
  margin-top: 25px;
  padding: 20px;
}
